@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
  background-color: #222;
  color: antiquewhite;
  font-family: 'Oswald', sans-serif;
  body{
    padding: 0;
    margin: 0;
    .container{
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }

  }
}